body {
    width: 600px;
    margin: 0 auto;
    /*background-color: #808080;*/
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
.headwrapper{
    width : 600px;
    margin :  0 auto;
    /*background-color: #808080;*/
    float: left;

}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
}
.titlewrapper{
    height: 100px;
    border-radius: 3px;
    text-align: center;
}

.loginwrapper {
    margin: 10px;
    width: 100px;
    text-align: right;
    /*height: 100px;*/
    border-radius: 3px;
}
p {
    font-family: sans-serif;
    font-size: 1.5em;
}