* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
}
body {
    margin: 0;
    background-color: #1BBC9B;
}

.center-form {
    width: 300px;
    background-color: #EEEFF1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border: none;

}

.text-field {
    font-size: 14px;
    padding: 10px;
    border: none;
    width: 260px;
    margin-bottom: 10px;

}

.submit-btn {
    font-size: 14px;
    border: none;
    padding: 10px;
    width: 260px;
    background-color: #1BBC9B;
    margin-bottom: 30px;
    color: white;
    cursor : pointer;
    transition:all 0.9s;
}
.submit-btn:hover{
    box-shadow: 0 80px 0 0  rgba(0,0,0,0.25) inset,
    0 -80px 0 0 rgba(0,0,0,0.25) inset;
    /*background-color:#002ead;*/
    /*transition: 0.7s;*/
}
h6 {
    font-size: 16px;
}
